## Importing the testing data

In [1]:
import requests
import pandas as pd

root_url = 'https://www.usada.org/uploads/web_hist_files/xml/'

dfs = []

for year in range(2015, 2022 + 1):
    for quarter in ['q1', 'q2', 'q3', 'q4']:
        
        # Present day
        if (quarter == 'q3') and (year == 2022): 
            break
            
        r = requests.get(root_url + f'{year}{quarter}.xml')

        # For some reason the encoding changes between years
        try: 
            xml_data = r.content.decode('utf-8')
        except UnicodeDecodeError:    
            xml_data = r.content.decode('utf-16')

        dfs.append(pd.read_xml(xml_data))
        
df = pd.concat(dfs)

In [2]:
df.head()

,YR,QTR,AName,NumTests,Sport,AFN,ALN
0,2015,Q1,Madeline Aaron,1,Figure Skating,Madeline,Aaron
1,2015,Q1,Max Aaron,2,Figure Skating,Max,Aaron
2,2015,Q1,Jeremy Abbott,1,Figure Skating,Jeremy,Abbott
3,2015,Q1,Abdihakim M Abdirahman,3,Track and Field,Abdihakim,Abdirahman
4,2015,Q1,Alaine Abuan,1,Judo,Alaine,Abuan

In [3]:
df_1 = df.rename(columns = {'YR':'year',
                            'QTR':'quarter',
                            'AName':'athlete_name',
                            'NumTests':'tests',
                            'Sport':'sport',
                            'AFN':'athlete_first_name',
                            'ALN':'athlete_last_name',})

In [4]:
df_1.to_csv('usada_testing_data.csv', index = False)

## Import the sanctions data

(This can be joined to the previous dataframe if needed)

In [5]:
df = pd.read_html('https://www.usada.org/news/sanctions/')[0]

In [6]:
df.head()

,Athlete,Sport,Substance/Reason,Sanction Terms,Sanction Announced
0,"Allen, Sabina",Track and Field,Phentermine; LGD-4033,4-Year Suspension; Loss of Results,06/09/2022
1,"Monastyrskyi, Andrii",Canoe,Meldonium,3-Year Suspension; Loss of Results,06/02/2022
2,"Kynard, Erik",Track and Field,Non-Analytical: Use (IV),6-Month Suspension,05/27/2022
3,"Evans-Smith, Ashlee",Mixed Martial Arts,Dehydroepiandrosterone (DHEA),14-Month Suspension,05/16/2022
4,"Blanchfield, Erin",Mixed Martial Arts,Spironolactone,Public Warning,05/13/2022

In [7]:
df_2 = df.rename(columns = {'Athlete':'athlete_name', 
                            'Sport':'sport', 
                            'Substance/Reason':'substance_reason', 
                            'Sanction Terms':'sanction_terms', 
                            'Sanction_announced':'date_announced'})

In [8]:
df_2.to_csv('usada_sanctions_data.csv', index = False)